<body style="background-image: url('/images/bitcoin.jpg');background-size: 50%;">
    <%- include partials/header.ejs %>
        <div class="container" style="margin-top: 200px; margin-bottom: 10px;">
            <h2 style="text-align: center;color: #e4d746; font-weight: bold;">Stay Informed, Earn Rewards
            </h2>
            <h3 style="text-align: center;margin-top: 30px ;color: #e4d746; ">Welcome to Click2Earn!</h3>
        </div>
        <%- include partials/footer.ejs %>
</body>


<%- include partials/footer.ejs %>