<%- include partials/header.ejs %>

  <div class="jumbotron">
    <div class="container">
      <div class="card">
        <div class="card-header">
          Coin Information
        </div>
        <div class="card-body" id="coinInfo">
          <p>

          </p>
        </div>
      </div>
    </div>
  </div>

  <% if(name) { %>
    <div class="container">
      <div class="card">
        <div class="card-header">
          Hello
        </div>
        <div class="card-body">
          <h5 class="card-title">Hi there <%= name %> thanks for joining us today! </h5>
          <h5 class="card-title">What would you like to purchase today?</h5>
        </div>
      </div>
    </div>
    <% } %>

      <div class="container">
        <form action="/" method="post">
          <div class="form-group">
            <label for="name">Enter Your Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <%- include partials/footer.ejs %>

        <script>

          window.addEventListener('DOMContentLoaded', async () => {
            const options = {
              method: 'GET',
              url: 'https://coinranking1.p.rapidapi.com/coin/Qwsogvtv82FCd',
              params: {
                referenceCurrencyUuid: 'yhjMzLPhuIDl',
                timePeriod: '24h'
              },
              headers: {
                'X-RapidAPI-Key': '03939cc397msh8dcd64407a76398p17c483jsncfe1fcb69495',
                'X-RapidAPI-Host': 'coinranking1.p.rapidapi.com'
              }
            };

            try {
              const response = await axios.request(options);
              console.log(response)
              const coinName = response.data.data.coin.name;
              console.log(coinName)
              const coinDescription = response.data.data.coin.description;
              const coinPrice = response.data.data.coin.price

              document.getElementById('coinInfo').innerHTML = `
              <h2>${coinName}</h2>
              <p>${coinDescription}</p>
              <p>${coinPrice}</p>
            `;
            } catch (error) {
              console.error(error);
            }
          });
        </script>